#page-ctn {
  /* margin: 0 auto; */
  padding-left: 18%;
  max-width: 900px;
  color: #24292e;
}

#page-header {
  padding: 8px;
  background-color: #f6f8fa;
  border-color: #d1d5da;
  border-style: solid;
  border-width: 1px 1px 0;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

#page-header svg {
  display: inline-block;
  margin-right: 5px;
  overflow: hidden;
  fill: currentColor;
}

#page-header h3 {
  display: flex;
  align-items: center;
  margin-top: 0;
  margin-bottom: 0;
  padding-right: 16px;
  font-size: 14px;
  font-weight: 600;
}


.table-of-contents {
  position: fixed;
  left: 0;
  top: 0;
  width: 18%;
  height: 100vh;
  overflow-x: auto;
}
.table-of-contents > ul {
  min-width: 300px;
}

.table-of-contents ol { counter-reset: list-item; }
.table-of-contents li { display: block; counter-increment: list-item; }
.table-of-contents li:before { content: counters(list-item,'.') ' '; }

body { scroll-behavior: smooth; }

.markdown-body .table-of-contents ol,
.markdown-body .table-of-contents ul {
  padding-left: 1em;
}
.markdown-body .table-of-contents a {
  font-size: 14px;
  font-weight: bold;
}

